@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
  background-image: url(../img/docente.jpg);
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  color: white;
}
.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
form{
    background: rgba(228, 168, 90, 0.5);
    padding: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 1px 5px  black;
}
input{
  margin: 10px;
  border: solid transparent;
}
input:focus{
  background: #6b4eee9a;
  outline: none;
  border-radius: 5px;
}
.boton{
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  border: 2px solid #5532f5fd;
  font: inherit;
  line-height: 1;
  margin-left: 30%;
  padding: 1em 2em;
  }
  boton:hover, boton:focus {
    border-color: var(--hover);
    color: #fff;
  }
.boton {
    box-shadow: 0.3em 0.3em 0 0 #6b4eeef6, inset 0.3em 0.3em 0 0 #6b4eeef6;
    background: transparent;
    color: white;
}
.boton:hover, .boton:focus {
    box-shadow: 0 0 0 0 #6b4eeef6, inset 6em 3.5em 0 0 #6b4eeea3;
    border: 2px solid #7f6bdab6;
}
.inputbox select{
  border: solid transparent;
}
.inputbox select:focus{
	background: #6b4eee9a;
  border: solid transparent;
  border-radius: 5px;
}
