@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.container{
    width: 100%;
    height: 100px;
    background: #2E86C1;
    display: flex;
    justify-content: flex-end;
}
.navbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin: 0 10px;
}
li{
    width: 80px;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.text{
    width: 100%;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}
.btn{
    width: 146px;
    height: 40px;
    border: 1.5px solid white;
    border-radius: 12px;
    background: #2E86C1;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background: white;
    border: 1.5px solid #2E86C1;
    color: #2E86C1;
}
li:hover{
    text-decoration-line: underline;
    color: white;
}
a.enlace{
    color: black;
}
table{
    border-collapse: collapse;
    width: 100%;
    
}
th.header{
    background: pink;
    padding: 1%;
}
td{
    text-align: center;
}
